<select class="form-input-full-width next-question">
  <option selected="selected" disabled="disabled">Select a question</option>
  <% if @other_questions %>
  <% @other_questions.sort_by{|q| q.id}.each do |question| %>
    <option value="<%= question.id %>"><%= question.id %>: <%= question.text %></option>
  <% end %>
  <% end %>
</select>

