<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description">Description</p>
    <p class="dropdown-button">Click to Select</p>
    <ul class="dropdown-menu dropdown-select">
    <% @questions.sort_by{|q| q.id}.each do |question| %>
        <div class="dropdown">
          <div class="dropdown-container">
            <p class="dropdown-description">Description</p>
            <p class="dropdown-button">Click to Select</p>
            <ul class="dropdown-menu dropdown-select">
              <li><% question.id %>: <% question.text %></li>
            </ul>
          </div>
        </div>
    <% end %>
    </ul>
  </div>
</div>
