<select class="form-input-full-width" id="" name="">
  <option selected="selected" disabled="disabled">Select a question</option>
  <% @other_questions.sort_by{|q| q.id}.each do |question| %>
    <option value="<%= question.id %>"><%= question.id %>: <%= question.text %></option>
  <% end %>
</select>
