<header>
  <h1>Edit question</h1>
</header>

<hr>

<section class="question">
  <%= form_for :question, url: question_path(@question), method: :patch do |question| %>
    <fieldset id="question-type-radios">
      <label for="question-type-radios">Question type</label>
      <% question_type_radio_group %>
    </fieldset>

    <fieldset>
      <%= question.label(:text, "Question text", class: "label-hinted") %>
      <span class="form-hint">(max. 140 characters)</span>
      <%= question.text_area :text  %>
    </fieldset>

    <%= question.submit %>
  <% end %>
</section>

<a class="button button-giant button-secondary" href="#">Add an answer</a>
