<header>
  <h1>Create a new question</h1>
</header>

<hr>

<%= form_for :question, url: questions_path do |question| %>
  <fieldset id="question-type-radios">
    <label for="question-type-radios">Question type</label>
    <% question_type_radio_group %>
  </fieldset>

  <fieldset>
    <%= question.label(:text, "Question text", class: "label-hinted") %>
    <span class="form-hint">(max. 140 characters)</span>
    <%= question.text_area :text  %>
  </fieldset>

  <%= question.submit %>
<% end %>
