.answer {
  @include media($small-breakpoint) {
    @include span-columns(12);
    margin-bottom: $base-spacing;
  }

  @include media($medium-breakpoint) {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: $base-spacing;
  }

  @include media($large-breakpoint) {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: $base-spacing;
  }
}

@import "answer-section";
@import "answer-text";
@import "answer-outcome-type";
@import "answer-outcome";
