<footer class="footer-2" role="contentinfo">
  </div>
    <ul>
      <li><%= link_to "Questions", root_path %></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <!--
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
        -->
      </ul>
    </div>
</footer>
